@model cdo.Models.ListLK4

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lk-user</title>
</head>

<body>

    <form method="post" asp-controller="User" asp-action="Creat">
        <h3>@ViewData["Message"]</h3>




        <div class="panel-group" id="accordion">

            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse0">
                    <h4 class="panel-title" style="position: relative; padding:10px">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse0">
                            Фильтры
                        </a>
                    </h4>
                </div>
                <div id="collapse0" class="collapse in ">
                    <div class="panel-body">

                        <table>
                            <tr class="od">
                                <td style="width: 30%;">№</td>
                                <td style="width: 70%;">
                                    <input type="text" asp-for="Filt.Nom" />
                                </td>
                            </tr>
                            <tr class="od">
                                <td>ФИО</td>
                                <td>
                                    <input type="text" asp-for="Filt.FIO_prin" />
                                </td>
                            </tr>

                            <tr class="od">
                                <td>Дата заявления </td>
                                <td>
                                    <input type="text" asp-for="Filt.DatNachZ" id="data_z">
                                    <script>
                                        dataN = new Date();

                                        //alert(dataN);
                                        $(function () {
                                            $('#data_z').daterangepicker({
                                                singleDatePicker: true,
                                                showDropdowns: true,
                                                "minDate": "01/01/1970",
                                                "maxDate": dataN,
                                                "autoApply": true,
                                                "applyLabel": "Выбрать",
                                                "cancelLabel": "Отменить",
                                                locale: {
                                                    format: 'DD.MM.YYYY',
                                                    "firstDay": 1
                                                }
                                            });
                                        });
                                    </script>
                                    <input type="text" asp-for="Filt.DatKoncZ" id="data_zk">
                                    <script>

                                        var timeIs = new Date(new Date().setFullYear(new Date().getFullYear() + 10));

                                        dataN = new Date();
                                        $(function () {
                                            $('#data_zk').daterangepicker({
                                                singleDatePicker: true,
                                                showDropdowns: true,
                                                "startDate": timeIs,
                                                "minDate": "01/01/1970",
                                                "maxDate": timeIs,
                                                "autoApply": true,
                                                "applyLabel": "Выбрать",
                                                "cancelLabel": "Отменить",
                                                locale: {
                                                    format: 'DD.MM.YYYY',
                                                    "firstDay": 1
                                                }
                                            });
                                        });
                                    </script>
                                </td>
                            </tr>
                            <tr class="od">
                                <td>Дата выполнения </td>
                                <td>
                                    <input type="text" asp-for="Filt.DatNachV" id="data_v">
                                    <script>
                                        dataN = new Date();

                                        //alert(dataN);
                                        $(function () {
                                            $('#data_v').daterangepicker({
                                                singleDatePicker: true,
                                                showDropdowns: true,
                                                "minDate": "01/01/1970",
                                                "maxDate": dataN,
                                                "autoApply": true,
                                                "applyLabel": "Выбрать",
                                                "cancelLabel": "Отменить",
                                                locale: {
                                                    format: 'DD.MM.YYYY',
                                                    "firstDay": 1
                                                }
                                            });
                                        });
                                    </script>
                                    <input type="text" asp-for="Filt.DatKoncV" id="data_vk">
                                    <script>

                                        var timeIs = new Date(new Date().setFullYear(new Date().getFullYear() + 10));

                                        dataN = new Date();
                                        $(function () {
                                            $('#data_vk').daterangepicker({
                                                singleDatePicker: true,
                                                showDropdowns: true,
                                                "startDate": timeIs,
                                                "minDate": "01/01/1970",
                                                "maxDate": timeIs,
                                                "autoApply": true,
                                                "applyLabel": "Выбрать",
                                                "cancelLabel": "Отменить",
                                                locale: {
                                                    format: 'DD.MM.YYYY',
                                                    "firstDay": 1
                                                }
                                            });
                                        });
                                    </script>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <label><input type="checkbox" asp-for="Filt.prim">Примечание</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <label><input type="checkbox" asp-for="Filt.neisp">Заявленная неисправность</label>

                                </td>
                            </tr>

                        </table>
                        <button type="submit" style="margin:5px;" asp-area="" asp-controller="Lk" asp-action="Inter">Фильтровать</button>
                    </div>
                </div>
            </div>
        </div>




        <table id="lk">
            <tr>
                <th> @Html.ActionLink("№", "Sort1", "Lk", new { sortOrder = ViewBag.Nom }) </th>
                <th> @Html.ActionLink("Дата заявки", "Sort1", "Lk", new { sortOrder = ViewBag.In })</th>
                <th> @Html.ActionLink("Фио принявшего", "Sort1", "Lk", new { sortOrder = ViewBag.In })</th>
                <th> @Html.ActionLink("Дата выполнения", "Sort1", "Lk", new { sortOrder = ViewBag.Mo })</th>
                <th> @Html.ActionLink("Неисправность", "Sort1", "Lk", new { sortOrder = ViewBag.F })</th>
                <th> @Html.ActionLink("Примечание", "Sort1", "Lk", new { sortOrder = ViewBag.I })</th>





                <th colspan="2">Кнопки управления</th>

            </tr>

            @for (int i = 0; i < Model.Listlk.Count; i++)
            {

                <tr>


                    <td><a asp-controller="Lk" asp-action="" asp-route-id="@Model.Listlk[i].internet.Id">@Model.Listlk[i].internet.Id</a> </td>
                    <td>@Model.Listlk[i].internet.data_z_i</td>
                    <td>@Model.Listlk[i].internet.fio_prin_i</td>
                    <td>@Model.Listlk[i].internet.data_v_i</td>

                    <td>@Model.Listlk[i].internet.zayav_neisp_i</td>
                    <td>@Model.Listlk[i].internet.prim_i</td>



                    <td><a asp-controller="Lk" asp-action="kartochka" asp-route-id="@Model.Listlk[i].id_main">Открыть</a> </td>




                    @*<td><a asp-controller="Lk" asp-action="kartochka" asp-route-id="@Model.Listlk[i].id">Открыть</a> </td>*@

                </tr>
            }
        </table>

    </form>
</body>



</html>

<script>

    var VAL = "Заявление на рассмотрении";
    var VAL2 = "Дубль";
    var VAL3 = "Ошибочное заявление";
    var VAL4 = "Отказано АК в приеме заявления";
    var VAL5 = "Заявление подлинное";
    $(function () {
        $("#lk tr").each(function () {
            var textValue = $(this).closest('tr').find('td:eq(4)').text();
            //  alert(textValue);
            if (textValue == VAL) {
                // add css class or any manipulation to your dom.
                $(this).closest('tr').find('td').css('background-color', 'rgba(91, 243, 145, 0.15)');
            }
            if (textValue == VAL2) {
                // add css class or any manipulation to your dom.
                $(this).closest('tr').find('td').css('background-color', 'rgba(255, 0, 0, 0.24)');
            }
            if (textValue == VAL3) {
                // add css class or any manipulation to your dom.
                $(this).closest('tr').find('td').css('background-color', 'rgba(255, 0, 0, 0.24)');
            }
            if (textValue == VAL4) {
                // add css class or any manipulation to your dom.
                $(this).closest('tr').find('td').css('background-color', 'rgba(255, 0, 0, 0.24)');
            }
            if (textValue == VAL5) {
                // add css class or any manipulation to your dom.
                $(this).closest('tr').find('td').css('background-color', 'rgba(24, 239, 24, 0.36)');
            }
        });
    });

</script>
