@model cdo.Models.ListLK

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lk-user</title>
</head>
<body>
    <form method="post" asp-controller="User" asp-action="Creat">
        <button type="submit" style="margin:5px;" asp-area="" asp-controller="User" asp-action="Creat"> Подать заявление</button>
        <table id="lk">
            <tr>
                <th>№</th>
                <th>МО</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Дата рождения</th>
                <th>Адрес проживания</th>
                <th>ФИО родителя ЗП</th>
                <th>Инвентарный номер</th>
                <th>Приказ о зачислении</th>
                <th>Статус</th>
                <th colspan="2">Кнопки управления</th>

            </tr>

            @for (int i = 0; i < Model.Listlk.Count; i++)
            {

                <tr>


                    <td><a asp-controller="Lk" asp-action="kartochka" asp-route-id="@Model.Listlk[i].id">@Model.Listlk[i].id</a> </td>

                    <td>@Model.Listlk[i].MO</td>
                    <td>@Model.Listlk[i].fam</td>

                    <td>@Model.Listlk[i].ima</td>
                    <td>@Model.Listlk[i].otch</td>
                    <td>@Model.Listlk[i].data_roj</td>

                    <td>@Model.Listlk[i].address_proj</td>
                    <td>@Model.Listlk[i].Fio_rod_zp</td>
                    <td>@Model.Listlk[i].inventr</td>

                    <td>@Model.Listlk[i].prikaz</td>
                    <td>@Model.Listlk[i].status</td>


                </tr>
            }
        </table>

    </form>
</body>



</html>

<script>

    var VAL = "Заявление на рассмотрении";
    var VAL2 = "Дубль";
    var VAL3 = "Ошибочное заявление";
    var VAL4 = "Отказано АК в приеме заявления";
    var VAL5 = "Заявление подлинное";
    $(function () {
        $("#lk tr").each(function () {
            var textValue = $(this).closest('tr').find('td:eq(4)').text();
            //  alert(textValue);
            if (textValue == VAL) {
                // add css class or any manipulation to your dom.
                $(this).closest('tr').find('td').css('background-color', 'rgba(91, 243, 145, 0.15)');
            }
            if (textValue == VAL2) {
                // add css class or any manipulation to your dom.
                $(this).closest('tr').find('td').css('background-color', 'rgba(255, 0, 0, 0.24)');
            }
            if (textValue == VAL3) {
                // add css class or any manipulation to your dom.
                $(this).closest('tr').find('td').css('background-color', 'rgba(255, 0, 0, 0.24)');
            }
            if (textValue == VAL4) {
                // add css class or any manipulation to your dom.
                $(this).closest('tr').find('td').css('background-color', 'rgba(255, 0, 0, 0.24)');
            }
            if (textValue == VAL5) {
                // add css class or any manipulation to your dom.
                $(this).closest('tr').find('td').css('background-color', 'rgba(24, 239, 24, 0.36)');
            }
        });
    });

</script>
