@model Attest.Models.Zayavlen

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lk-user</title>
</head>
<body>
    <form method="post" asp-controller="User" asp-action="Creat">
        <button type="submit" style="margin:5px;" asp-area="" asp-controller="User" asp-action="Creat"> Подать заявление</button>
        <table id="lk">
            <tr>
                <th>№ заявления</th>

                <th>МО</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Дата рождения</th>
                <th>Адрес проживания</th>
                <th>Адрес регистрации</th>
                <th>Телефон</th>
                <th>Приказ о зачислении</th>
                <th colspan="2">Кнопки управления</th>

            </tr>
            @foreach (var row in ViewBag.LK)
            {

                <tr>
                    <td>@row.Id</td>
                    <td><a asp-controller="User" asp-action="edit" asp-route-id="@row.Id">@row.data_podachi</a> </td>
                    <td>@row.dolgnost_att</td>

                    <td>@row.data_obnovl</td>
                    <td>@row.status</td>
                    <td>@row.ball</td>


                    <td> <a asp-controller="User" asp-action="edit" asp-route-id="@row.Id">Открыть</a> </td>
                </tr>
            }
        </table>

    </form>
</body>



</html>

<script>

    var VAL = "Заявление на рассмотрении";
    var VAL2 = "Дубль";
    var VAL3 = "Ошибочное заявление";
    var VAL4 = "Отказано АК в приеме заявления";
    var VAL5 = "Заявление подлинное";
    $(function () {
        $("#lk tr").each(function () {
            var textValue = $(this).closest('tr').find('td:eq(4)').text();
            //  alert(textValue);
            if (textValue == VAL) {
                // add css class or any manipulation to your dom.
                $(this).closest('tr').find('td').css('background-color', 'rgba(91, 243, 145, 0.15)');
            }
            if (textValue == VAL2) {
                // add css class or any manipulation to your dom.
                $(this).closest('tr').find('td').css('background-color', 'rgba(255, 0, 0, 0.24)');
            }
            if (textValue == VAL3) {
                // add css class or any manipulation to your dom.
                $(this).closest('tr').find('td').css('background-color', 'rgba(255, 0, 0, 0.24)');
            }
            if (textValue == VAL4) {
                // add css class or any manipulation to your dom.
                $(this).closest('tr').find('td').css('background-color', 'rgba(255, 0, 0, 0.24)');
            }
            if (textValue == VAL5) {
                // add css class or any manipulation to your dom.
                $(this).closest('tr').find('td').css('background-color', 'rgba(24, 239, 24, 0.36)');
            }
        });
    });

</script>
