


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Управление пользователями</title>
</head>
<body>
    <a asp-controller="User" asp-action="Add">Добавить пользователя</a>
    <table>
        <tr>
            <th>№ заявления</th>
            <th>ФИО</th>
            <th>Email</th>
            <th>Телефон</th>
            <th>СНИЛС</th>
            <th colspan="2">Управление</th>

        </tr>
        @foreach (var row in ViewBag.User)
        {
            <tr>
                <td>@row.Id</td>
                <td>@row.FIO</td>
                <td>@row.Email</td>
                <td>@row.tel</td>
                <td>@row.Snils</td>
                <td> <a asp-controller="User" asp-action="view" asp-route-id="@row.Id">Посмотреть</a> |<a asp-controller="User" asp-action="edit" asp-route-id="@row.Id">Изменить</a> | <a asp-controller="User" asp-action="Delete" asp-route-id="@row.Id" onclick="return confirm('Ты Серьезно ?')">Удалить</a></td>
            </tr>
        }
    </table>
</body>
</html>
