
@using System.Linq
@using Attest.Models
@using Microsoft.EntityFrameworkCore.Internal
@model Attest.Models.CompositeModel

<!DOCTYPE html>


<html>
<head>

    <meta name="viewport" content="width=device-width" />

    <title>Заявление</title>
</head>
<body>

    <form method="post" id="formId" name="MainForm" asp-controller="User" asp-action="ZayavSaveEditSpec">

        <div class="panel-group" id="accordion">

            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse0">
                    <h4 class="panel-title" style="position: relative; padding:10px">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse0">
                            Данные для аттестации
                        </a>
                    </h4>
                </div>
                <div id="collapse0" class="collapse in show">
                    <div class="panel-body">

                        <table>
                            <tr>
                                <td>Должность, по которой прошу провести аттестацию</td>
                                <td>

                                    <input type="text" asp-for="Zayavlen.dolgnost_att" readonly>




                                </td>
                            </tr>

                            <tr id="naprtr">
                                <td>Направление</td>
                                <td>
                                    <input type="text" asp-for="Zayavlen.uch_stepen" readonly>

                                </td>
                            </tr>


                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <h4 class="panel-title" style="position: relative; padding:10px">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Общая информация
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table>
                        <tr>
                            <td>№ заявления</td>
                            <td>
                                <input type="text" asp-for="Zayavlen.Id" readonly />
                            </td>
                        </tr>
                        @*<tr>
                                <td>ФИО</td>
                                <td>
                                    <input type="text" asp-for="fio" />
                                </td>
                            </tr>*@
                        <tr>
                            <td>МО</td>
                            <td>
                                <select id="napr" class="req" asp-for="Zayavlen.mo" disabled>
                                    <option value="">Выберите МО</option>
                                    <option value='1'>Абинский</option>
                                    <option value='2'>Анапский</option>
                                    <option value='3'>Апшеронский</option>
                                    <option value='4'>Армавир</option>
                                    <option value='5'>Белоглинский</option>
                                    <option value='6'>Белореченский</option>
                                    <option value='7'>Брюховецкий</option>
                                    <option value='8'>Выселковский</option>
                                    <option value='9'>Геленджик</option>
                                    <option value='10'>Горячий Ключ</option>
                                    <option value='11'>Гулькевичский</option>
                                    <option value='12'>Динской</option>
                                    <option value='13'>Ейский</option>
                                    <option value='14'>Кавказский</option>
                                    <option value='15'>Калининский</option>
                                    <option value='16'>Каневской</option>
                                    <option value='17'>Кореновский</option>
                                    <option value='18'>Красноармейский</option>
                                    <option value='19'>Краснодар</option>
                                    <option value='20'>Крыловский</option>
                                    <option value='21'>Крымский</option>
                                    <option value='22'>Курганинский</option>
                                    <option value='23'>Кущевский</option>
                                    <option value='24'>Лабинский</option>
                                    <option value='25'>Ленинградский</option>
                                    <option value='26'>Мостовский</option>
                                    <option value='27'>Новокубанский</option>
                                    <option value='28'>Новопокровский</option>
                                    <option value='29'>Новороссийск</option>
                                    <option value='30'>Отрадненский</option>
                                    <option value='31'>Павловский</option>
                                    <option value='32'>Приморско-Ахтарский</option>
                                    <option value='33'>Северский</option>
                                    <option value='34'>Славянский</option>
                                    <option value='35'>Сочи</option>
                                    <option value='36'>Староминский</option>
                                    <option value='37'>Тбилисский</option>
                                    <option value='38'>Темрюкский</option>
                                    <option value='39'>Тимашевский</option>
                                    <option value='40'>Тихорецкий</option>
                                    <option value='41'>Туапсинский</option>
                                    <option value='42'>Успенский</option>
                                    <option value='43'>Усть-Лабинский</option>
                                    <option value='44'>Щербиновский</option>

                                </select>
                                <input type="hidden" class="req" asp-for="Zayavlen.mo">
                            </td>
                        </tr>
                        <tr>
                            <td>ОО</td>
                            <td>
                                <input type="text" class="req" asp-for="Zayavlen.oo" readonly />

                            </td>
                        </tr>
                        <tr>
                            <td>Должность</td>
                            <td>
                                <input type="text" id="dolg" asp-for="Zayavlen.dolgnost_imeyu" readonly>


                            </td>
                        </tr>
                        <tr>
                            <td>Категория</td>
                            <td>

                                <input type="text" id="kategor" asp-for="Zayavlen.kategor" readonly>



                            </td>
                        </tr>
                        <tr>
                            <td>Дата последней аттестации </td>
                            <td>


                                <input type="text" asp-for="Zayavlen.data_last_att" id="date" readonly>
                                <script>


                                    $(function () {

                                        $('#date').daterangepicker({
                                            singleDatePicker: true,
                                            showDropdowns: true,
                                            minYear: 1980,

                                            "autoApply": true,
                                            "applyLabel": "Выбрать",
                                            "cancelLabel": "Отменить",
                                            locale: {
                                                format: 'DD.MM.YYYY',
                                                "firstDay": 1
                                            }
                                        });
                                    });
                                </script>
                            </td>
                        </tr>
                        <tr>
                            <td>Категория работника</td>
                            <td>
                                <input type="text" asp-for="Zayavlen.kategor_rabot" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td>Дата подачи заявления</td>
                            <td>
                                <input type="text" asp-for="Zayavlen.data_podachi" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td>Дата обновления заявления</td>
                            <td>
                                <input type="text" asp-for="Zayavlen.data_obnovl" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td>Статус</td>
                            <td>
                                <input type="text" asp-for="Zayavlen.status" readonly />
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                <h4 class="panel-title" style="position: relative; padding:10px">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        Образование
                    </a>

                </h4>

            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        @foreach (var row in Model.listObrazovan)
                        {
                            @if (row.tip_obr == 1)
                            {

                                <li>
                                    <a href="#Obr_@row.Id" style="float: left; " data-toggle="tab">@row.oo</a>
                                </li>
                            }
                        }
                    </ul>
                    <div class="tab-content">
                        @for (int i = 0; i < Model.listObrazovan.Count; i++)
                        {
                            @if (Model.listObrazovan[i].tip_obr == 1)
                            {
                                <input type="hidden" asp-for="listObrazovan[i].Id" />
                                <input type="hidden" asp-for="listObrazovan[i].id_zayavl" />
                                <input type="hidden" asp-for="listObrazovan[i].tip_obr" />
                                <div class="tab-pane fade " id="Obr_@Model.listObrazovan[i].Id">
                                    <table>
                                        <tr>
                                            <td>ОО</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].oo" value="@Model.listObrazovan[i].oo" readonly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Период обучения</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].period" value="@Model.listObrazovan[i].period" pattern="[0-9]{4} - [0-9]{4}" title="Формат даты: (2014 - 2016)" readonly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Муниципалитет</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].mo" value="@Model.listObrazovan[i].mo" readonly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Специальность</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].special" value="@Model.listObrazovan[i].special" readonly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Квалификация</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].kvalif" value="@Model.listObrazovan[i].kvalif" readonly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Тип документа</td>
                                            <td>
                                                <select asp-for="listObrazovan[i].nazv_doc" disabled>
                                                    <option label="Справка с места учебы" value="TrainingCertificate">Справка с места учебы</option>
                                                    <option label="Свидетельство об освоении предпрофессиональной программы в области искусств" value="PreprofessionalArtsMasteringCertificate">Свидетельство об освоении предпрофессиональной программы в области искусств</option>
                                                    <option label="Другой документ об образовании" value="AnotherEducationDocument" selected="selected">Другой документ об образовании</option>
                                                    <option label="Другой документ об обучении" value="AnotherTrainingDocument">Другой документ об обучении</option>
                                                    <option label="Аттестат о среднем общем образовании" value="SecondaryGeneralEducationCertificate">Аттестат о среднем общем образовании</option>
                                                    <option label="Аттестат об основном общем образовании" value="SecondaryBasicEducationCertificate">Аттестат об основном общем образовании</option>
                                                    <option label="Диплом о среднем профессиональном образовании" value="SecondaryProfEducationDiploma">Диплом о среднем профессиональном образовании</option>
                                                    <option label="Диплом бакалавра" value="BachelorDegree">Диплом бакалавра</option>
                                                    <option label="Диплом специалиста" value="SpecialistDiploma">Диплом специалиста</option>
                                                    <option label="Диплом магистра" value="MasterDegree">Диплом магистра</option>
                                                    <option label="Диплом об окончании аспирантуры (адъюнктуры)" value="PostgraduateDiploma">Диплом об окончании аспирантуры (адъюнктуры)</option>
                                                    <option label="Диплом об окончании ординатуры" value="ResidencyCompletionDiploma">Диплом об окончании ординатуры</option>
                                                    <option label="Диплом об окончании ассистентуры-стажировки" value="InternshipAssistantCompletionDiploma">Диплом об окончании ассистентуры-стажировки</option>
                                                    <option label="Удостоверение о повышении квалификации" value="ProfessionalDevelopmentCertificate">Удостоверение о повышении квалификации</option>
                                                    <option label="Диплом о профессиональной переподготовке" value="ProfessionalRetrainingDiploma">Диплом о профессиональной переподготовке</option>
                                                    <option label="Свидетельство о профессии рабочего, должности служащего" value="WorkerCertificate">Свидетельство о профессии рабочего, должности служащего</option>
                                                    <option label="Свидетельство об обучении для лиц с ограниченными возможностями здоровья (с различными формами умственной отсталости)" value="PersonsWithDisabilitiesEducationCertificate">Свидетельство об обучении для лиц с ограниченными возможностями здоровья (с различными формами умственной отсталости)</option>
                                                </select>
                                                <input type="hidden" asp-for="listObrazovan[i].nazv_doc" readonly>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Серия</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].ser_doc" readonly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Номер документа</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].nom_doc" readonly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Дата выдачи</td>
                                            <td>
                                                <input type="text" id="d_v_o_@i" asp-for="listObrazovan[i].data_doc" readonly />
                                                <script>


                                                    $(function () {
                                                        $('#d_v_o_@i').daterangepicker({
                                                            singleDatePicker: true,
                                                            showDropdowns: true,
                                                           "minDate": "01/01/1970","maxDate": dataN,

                                                            "autoApply": true,
                                                            "applyLabel": "Выбрать",
                                                            "cancelLabel": "Отменить",
                                                            locale: {
                                                                format: 'DD.MM.YYYY',
                                                                "firstDay": 1
                                                            }
                                                        });
                                                    });
                                                </script>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Регистрационный номер</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].reg_nom" readonly />
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            }
                        }




                    </div>
                </div>
            </div>
        </div>



        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                <h4 style="position: relative; padding:10px" class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        Курсы повышения квалификации
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        @foreach (var row in Model.listObrazovan)
                        {
                            @if (row.tip_obr == 2)
                            {
                                <li>
                                    <a href="#Kurs_@row.Id" style="float: left; " data-toggle="tab">@row.oo</a>
                                </li>
                            }
                        }
                    </ul>
                    <div class="tab-content">
                        @for (int i = 0; i < Model.listObrazovan.Count; i++)

                        {
                            @if (Model.listObrazovan[i].tip_obr == 2)
                            {
                                <input type="hidden" asp-for="listObrazovan[i].Id" />
                                <input type="hidden" asp-for="listObrazovan[i].id_zayavl" />
                                <input type="hidden" asp-for="listObrazovan[i].tip_obr" />
                                <div class="tab-pane fade " id="Kurs_@Model.listObrazovan[i].Id">

                                    <table>
                                        <tr>
                                            <td>Организация</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].oo" readonly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Периодобучения</td>
                                            <td>

                                                <input type="text" id="daterange_@i" asp-for="listObrazovan[i].period" readonly />


                                                <script>

                                                    $(function () {
                                                        $('#daterange_@i').daterangepicker({
                                                            "showDropdowns": true,
                                                            "minYear": 1970,

                                                            "locale": {
                                                                "format": "DD.MM.YYYY",
                                                                "separator": " - ",
                                                                "applyLabel": "Выбрать",
                                                                "cancelLabel": "Отменить",

                                                                "firstDay": 1
                                                            },

                                                        });
                                                    });

                                                </script>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Место прохождения</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].mo" readonly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Кол-во часов</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].kol_chas" pattern="^[ 0-9]+$" readonly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Тема курсов</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].special" readonly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Форма участия/проведения</td>
                                            <td>

                                                <select asp-for="listObrazovan[i].kvalif" disabled>
                                                    <option value="">Выберите форму проведения</option>
                                                    <option label="Очная" value="FullTime">Очная</option>
                                                    <option label="Дистанционная" value="Distance">Дистанционная</option>
                                                    <option label="Очно-дистанционная" value="FullTimeDistance">Очно-дистанционная</option>
                                                    <option label="Заочная" value="Extramural">Заочная</option>
                                                </select>
                                                <input type="hidden" asp-for="listObrazovan[i].kvalif" readonly>
                                                @*<script>
                                                    $("#kvalif_@row.Id").val("@row.kvalif").change()
                                                        </script>*@
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Название документа</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].nazv_doc" readonly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Серия</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].ser_doc" readonly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Номер документа</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].nom_doc" readonly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Дата выдачи</td>
                                            <td>
                                                <input type="text" id="d_v_k_@i" asp-for="listObrazovan[i].data_doc" readonly />
                                                <script>

                                                    $(function () {
                                                        $('#d_v_k_@i').daterangepicker({
                                                            singleDatePicker: true,
                                                            showDropdowns: true,
                                                           "minDate": "01/01/1970","maxDate": dataN,

                                                            "autoApply": true,
                                                            "applyLabel": "Выбрать",
                                                            "cancelLabel": "Отменить",
                                                            locale: {
                                                                format: 'DD.MM.YYYY',
                                                                "firstDay": 1
                                                            }
                                                        });
                                                    });
                                                </script>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Регистрационный номер</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].reg_nom" readonly />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            }
                        }
                    </div>
                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                <h4 class="panel-title" style="position: relative; padding:10px">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                        Второе высшее образование и профессиональная переподготовка
                    </a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        @foreach (var row in Model.listObrazovan)
                        {
                            @if (row.tip_obr == 3)
                            {

                                <li>
                                    <a href="#Vtor_@row.Id" style="float: left; " data-toggle="tab">@row.oo</a>
                                </li>
                            }
                        }
                    </ul>
                    <div class="tab-content">
                        @for (int i = 0; i < Model.listObrazovan.Count; i++)
                        {
                            @if (Model.listObrazovan[i].tip_obr == 3)
                            {
                                <input type="hidden" asp-for="listObrazovan[i].Id" />
                                <input type="hidden" asp-for="listObrazovan[i].id_zayavl" />
                                <input type="hidden" asp-for="listObrazovan[i].tip_obr" />
                                <div class="tab-pane fade " id="Vtor_@Model.listObrazovan[i].Id">

                                    <table>
                                        <tr>
                                            <td>Организация</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].oo" readonly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Периодобучения</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].period" pattern="[0-9]{4} - [0-9]{4}" title="Формат даты: (2014 - 2016)" readonly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Место прохождения</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].mo" readonly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Кол-во часов</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].kol_chas" pattern="^[ 0-9]+$" readonly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Вид обучения</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].vid_obuch" readonly />
                                            </td>
                                        </tr>
                                        <tr>
                                        <tr>
                                            <td>Специальность</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].special" readonly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Квалификация</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].kvalif" readonly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Название документа</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].nazv_doc" readonly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Серия</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].ser_doc" readonly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Номер документа</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].nom_doc" readonly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Дата выдачи</td>
                                            <td>
                                                <input type="text" id="d_v_vw_@i" asp-for="listObrazovan[i].data_doc" readonly />
                                                <script>

                                                    $(function () {
                                                        $('#d_v_vw_@i').daterangepicker({
                                                            singleDatePicker: true,
                                                            showDropdowns: true,
                                                           "minDate": "01/01/1970","maxDate": dataN,

                                                            "autoApply": true,
                                                            "applyLabel": "Выбрать",
                                                            "cancelLabel": "Отменить",
                                                            locale: {
                                                                format: 'DD.MM.YYYY',
                                                                "firstDay": 1
                                                            }
                                                        });
                                                    });
                                                </script>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Регистрационный номер</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].reg_nom" readonly />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>



        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                <h4 class="panel-title" style="position: relative; padding:10px">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                        Файлы
                    </a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse in">
                <div class="panel-body">
                    @*//Button trigger modal*@

                    @*@for(int i=0;i<Model.listFile.Count;i++)
                         {

                             <input type="text" asp-for="listFile[i].name_f" value="@Model.listFile[i].name_f"readonly/>
                            <input type="text" asp-for="listFile[i].id_zayavl" value="@Model.listFile[i].id_zayavl"readonly/>
                            <select   asp-for="listFile[i].kategor_f" >
                                <option value="">Выберите категорию файла</option>
                                <option label="Заявление о проведении аттестации" value="AttestApplication">Заявление о проведении аттестации</option>
                                <option label="Копия аттестационного листа предыдущей аттестации" value="PrevAttestCopy">Копия аттестационного листа предыдущей аттестации</option>
                                <option label="Раздел I" value="Section1">Раздел I</option>
                                <option label="Раздел II" value="Section2">Раздел II</option>
                                <option label="Раздел III" value="Section3">Раздел III</option>
                                <option label="Раздел IV" value="Section4">Раздел IV</option>
                                <option label="Раздел V" value="Section5">Раздел V</option>
                                <option label="Согласие на обработку персональных данных" value="PersonalInfoAgreement">Согласие на обработку персональных данных</option>
                            </select>

                        }*@
                    <script>

                        var kateg = [];
                    </script>
                    @foreach (var row in Model.listFile)
                    {

                        <script>

                            kateg.push('@row.kategor_f');

                        </script>

                    }



                    <script>

                        for (var i = 0; i < kateg.length; i++)
                            console.log(kateg[i]);
                    </script>

                    <ul class="nav nav-tabs">
                        @foreach (var row in Model.listFile)
                        {
                            <li>
                                <a href="#file_@row.Id" style="float: left; " data-toggle="tab">Файл  @row.name_f</a>
                            </li>



                        }
                    </ul>
                    <div class="tab-content">
                        @for (int i = 0; i < Model.listFile.Count; i++)
                        {
                            <div class="tab-pane fade" id="file_@Model.listFile[i].Id">

                                <input type="hidden" asp-for="listFile[i].Id" />
                                <input type="hidden" asp-for="listFile[i].id_zayavl" />


                                <table>
                                    <tr>
                                        <td>Название</td>
                                        <td>
                                            @Html.ActionLink("Скачать", "file", "user", new { name_f = Model.listFile[i].name_f, id = Model.listFile[i].id_zayavl })

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Имя файла</td>
                                        <td>
                                            <input type="text" asp-for="listFile[i].name_f" value="@Model.listFile[i].name_f" readonly />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Тип файла</td>
                                        <td>
                                            <select asp-for="listFile[i].kategor_f" disabled>
                                                <option value="">Выберите категорию файла</option>
                                                <option label="Заявление о проведении аттестации" value="AttestApplication">Заявление о проведении аттестации</option>
                                                <option label="Копия аттестационного листа предыдущей аттестации" value="PrevAttestCopy">Копия аттестационного листа предыдущей аттестации</option>
                                                <option label="Раздел I" value="Section1">Раздел I</option>
                                                <option label="Раздел II" value="Section2">Раздел II</option>
                                                <option label="Раздел III" value="Section3">Раздел III</option>
                                                <option label="Раздел IV" value="Section4">Раздел IV</option>
                                                <option label="Раздел V" value="Section5">Раздел V</option>
                                                <option label="Согласие на обработку персональных данных" value="PersonalInfoAgreement">Согласие на обработку персональных данных</option>
                                            </select>
                                            <input type="hidden" asp-for="listFile[i].kategor_f" readonly>
                                            <script>
                                                //  alert(kateg.length);

                                                for (var m = 0; m < kateg.length; m++) {
                                                    $('select option[value="' + kateg[m] + '"]').hide();
                                                    //   alert(kateg[m]);
                                                }

                                            </script>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        }
                        <script>
                            //только уникальные категории
                            for (var s = 0; s < kateg.length; s++) {
                                $('#listFile_' + s + '__kategor_f').change(function () {
                                    $('select option').show();
                                    var kateg1 = [];
                                    for (var ss = 0; ss < kateg.length; ss++) {
                                        var select = document.getElementById("listFile_" + ss + "__kategor_f");
                                        var val = select.value;
                                        kateg1.push(val);
                                        $('select option[value="' + kateg1[ss] + '"]').hide();
                                    }
                                })
                            }
                        </script>
                    </div>


                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                <h4 class="panel-title" style="position: relative; padding:10px">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                        Научно-методическая деятельность
                    </a>
                </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        @foreach (var row in Model.listNauch_deyat)
                        {

                            <li>
                                <a href="#nauch_@row.Id" style="float: left; " data-toggle="tab">@row.nazv</a>
                            </li>

                        }
                    </ul>
                    <div class="tab-content">



                        @for (int i = 0; i < Model.listNauch_deyat.Count; i++)
                        {
                            <div class="tab-pane fade" id="nauch_@Model.listNauch_deyat[i].Id">
                                <input type="hidden" asp-for="listNauch_deyat[i].Id" />
                                <input type="hidden" asp-for="listNauch_deyat[i].id_zayavl" />
                                <input type="hidden" asp-for="listNauch_deyat[i].el_adr" />
                                <table>
                                    <tr>
                                        <td>Период</td>
                                        <td>
                                            <input type="text" asp-for="listNauch_deyat[i].period" pattern="[0-9]{4} - [0-9]{4}" title="Формат даты: (2014 - 2016)" readonly />

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Название работы</td>
                                        <td>
                                            <input type="text" asp-for="listNauch_deyat[i].nazv" readonly />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Название продукта</td>
                                        <td>
                                            <input type="text" asp-for="listNauch_deyat[i].nazv_p" readonly />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Уровень</td>
                                        <td>
                                            <input type="text" asp-for="listNauch_deyat[i].urov" readonly />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Статус участия</td>
                                        <td>
                                            <input type="text" asp-for="listNauch_deyat[i].status" readonly />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Реализовано</td>
                                        <td>
                                            <input type="text" asp-for="listNauch_deyat[i].realiz" readonly />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Электронный адрес публикации</td>
                                        <td>
                                            <a href="@Model.listNauch_deyat[i].el_adr">@Model.listNauch_deyat[i].el_adr</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                <h4 class="panel-title" style="position: relative; padding:10px">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                        Профессиональное научное развитие
                    </a>
                </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        @foreach (var row in Model.listProfRazv)
                        {
                            <li>
                                <a href="#prof_@row.Id" style="float: left; " data-toggle="tab">Звание  @row.uch_zvanie</a>
                            </li>

                        }
                    </ul>
                    <div class="tab-content">



                        @for (int i = 0; i < Model.listProfRazv.Count; i++)
                        {
                            <div class="tab-pane fade" id="prof_@Model.listProfRazv[i].Id">
                                <input type="hidden" asp-for="listProfRazv[i].Id" />
                                <input type="hidden" asp-for="listProfRazv[i].id_zayav" />

                                <table>
                                    <tr>
                                        <td>Ученая степень</td>
                                        <td>
                                            <input type="text" asp-for="listProfRazv[i].uch_stepen" readonly />

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Ученое звание</td>
                                        <td>
                                            <input type="text" asp-for="listProfRazv[i].uch_zvanie" readonly />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Код научной специальности</td>
                                        <td>
                                            <input type="text" asp-for="listProfRazv[i].kod_nauc_spec" readonly />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Название документа</td>
                                        <td>
                                            <select asp-for="listProfRazv[i].nazv_doc" disabled>
                                                <option value="?" label="Выберите документ" selected="selected"></option>
                                                <option label="Удостоверение сданных экзаменов" value="ExamCertificate">Удостоверение сданных экзаменов</option>
                                                <option label="Справка об обучении в аспирантуре" value="PostgraduateCertificate">Справка об обучении в аспирантуре</option>
                                                <option label="Диплом" value="Diploma">Диплом</option>
                                            </select>
                                            <input type="hidden" asp-for="listProfRazv[i].nazv_doc" readonly>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Организация</td>
                                        <td>
                                            <input type="text" asp-for="listProfRazv[i].org_d" readonly />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Серия</td>
                                        <td>
                                            <input type="text" asp-for="listProfRazv[i].ser_d" readonly />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Номер документа</td>
                                        <td>
                                            <input type="text" asp-for="listProfRazv[i].non_d" readonly />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Дата выдачи</td>
                                        <td>
                                            <input type="text" id="d_v_rw_@i" asp-for="listProfRazv[i].data_vid_d" readonly />
                                            <script>

                                            $(function () {
                                                /**/
                                                $('#d_v_rw_@i').daterangepicker({

                                                    singleDatePicker: true,
                                                    showDropdowns: true,
                                                   "minDate": "01/01/1970","maxDate": dataN,

                                                    "autoApply": true,
                                                    "applyLabel": "Выбрать",
                                                    "cancelLabel": "Отменить",
                                                    locale: {
                                                        format: 'DD.MM.YYYY',
                                                        "firstDay": 1
                                                    }
                                                });
                                            });
                                            </script>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        }

                    </div>
                </div>
            </div>


        </div>

        <table>
            <tr>
                <td>Итоговый балл</td>
                <td>
                    <input type="text" asp-for="Zayavlen.ball" required />
                </td>
            </tr>

            @if (Model.Zayavlen.status == "Заявление подлинное" && Model.Users.role == "3")
            {
                <tr>
                    <td>
                        <input type="hidden" asp-for="Users.role" />
                    </td>

                    <td>
                        <input type="checkbox" id="Sogl" required /><label for="Sogl">Я потверждаю оценку и закрываю обработку заявления</label>

                        <span for="Sogl" />
                    </td>

                </tr>

            }
        </table>
        <input type="hidden" asp-for="Zayavlen.Id" />

        <input type="hidden" asp-for="Zayavlen.id_user" />




        @if (Model.Zayavlen.status == "Заявление подлинное" && Model.Users.role == "3")
        {
            <input id="sohr" type="submit" value="Сохранить" />
        }



    </form>







</body>
</html>
